
<%= form_for(:session, url: login_path) do |f| %>
<div class="form-group">
	<%= f.label :username%>
	<br/>
	<%= f.text_field :username, :place_holder => "Username", :class => "input" %>
	<br/>
	<%= f.label :password%>
	<br/>
	<%= f.password_field :password, :place_holder => "Password", :class => "input" %>
	<br/>
</div>
<%=f.submit "Login", :class=>"btn btn-default"%>

<% end %>
Don't have an account yet? <%=link_to "Sign up!", signup_path %>