<h4>Checklist Progress Summary for <%= @user.first_name %> <%= @user.last_name %></h4>
<div class="panel-group">
	<div class="panel panel-default">
		<div class="form-group">
			<%= form_for :analytics, 
				url: analytics_getsummary_path, 
				:remote=>true, 
				:html => {id: "summary-form", method: :get, :onsubmit => "console.log('submit!'); $('.submit-summary').hide();"} do |f| %>
				<%= f.select :range_type, @range_type_options, {}, {:class=>"form-control"}%>
				<%= f.submit "Update results", :class=>"btn btn-default submit-summary"%> 
			<% end %>
		</div>
	</div>
</div>

<div id="data-summary">

</div>

<div id="data-display">
	
</div>