<% if flash[:danger] %>
	<div class="alert alert-danger">
	  <strong>ERROR!</strong> <%= flash[:danger] %>
	</div>
<% end %>

<h2>Sign-up form</h2>

<%= form_for(@user) do |f| %>
<div class="form-group">
	<%= f.label :username%><br/>
	<%= f.text_field :username, :place_holder => "Username", :class => "input" %>
</div>
<div class="form-group">
	<%= f.label :first_name%><br/>
	<%= f.text_field :first_name, :place_holder => "First name", :class => "input" %>
</div>
<div class="form-group">
	<%= f.label :last_name%><br/>
	<%= f.text_field :last_name, :place_holder => "Last name", :class => "input" %>
</div>
<div class="form-group">
	<%= f.label :email, "Email address" %><br/>
	<%= f.email_field :email, :place_holder => "Email address", :class => "input" %>
</div>

<div class="form-group">
	<%= f.label :password%><br/>
	<%= f.password_field :password, :place_holder => "Password", :class => "input" %>
</div>
<%=f.submit "Sign up", :class=>"btn btn-default"%>

<% end %>
Already have an account? <%= link_to "Log in!", login_path %>