<script type="text/javascript">

	var retrieveAndDisplayFormOptionsForContext = function(searchText){
		$.ajax({
			type: "GET",
			url: "/form_options/search",
			dataType: "html",
			data: {'searchText' : searchText},
			cache: false,
			success: function (result) {
				$("#form_options_table").html(result);
			},
			error: function (){
				window.alert("Failed to query data.");
			}
		});
	};

	$(document).ready(function(){	
		var select = false;

		$("#form_option_context").autocomplete({
			source: <%= (raw @context_list.to_json) %>,
			change: function( event, ui){
				if (!select){
				$("#form_options_table").html("");
					retrieveAndDisplayFormOptionsForContext($("form_options_context").val());
				} else {
					select = false;
				}
			},
			select: function(e, ui){
				retrieveAndDisplayFormOptionsForContext(ui.item.value);
				select = true;
				$("#form_option_context").blur();
			}
		});
		
	});
</script>
<div>
	<%= form_for(@form_option) do |f| %>
		
		<div class="form-group">
			<div>
				<%= f.label :context %>
				<%= f.text_field :context, :class=>"form-control"%>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :text_value %>
			<%= f.text_field :text_value, :class=>"form-control"%>
		</div>
		<%= f.submit "Add form option", :class=>"btn btn-default submit-checklist" %>

	<% end %>
	
	<br/>
	
	<div id="form_options_table">
	
	</div>
</div>