<% if @daily_checklists.any? %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Checklists to complete today</h4>
		</div>
		<% @daily_checklists.each do |dc| %>
			<div class="panel-body">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
						<%=dc.name%></button>
					<ul class="dropdown-menu">
						<li><%=link_to  "Implement this checklist", new_implementation_path(:checklist_id => dc.id) %></li>
					</ul>
				</div>
			</div>
		<% end %>
	</div>
<% end %>

<% if @weekly_checklists.any? %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Checklists to complete this week</h4>
		</div>
		<% @weekly_checklists.each do |dc| %>
			<div class="panel-body"><%= dc.name %></div>
		<% end %>
	</div>
<% end %>

<% if @monthly_checklists.any? %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Checklists to complete this month</h4>
		</div>
		<% @monthly_checklists.each do |dc| %>
			<div class="panel-body"><%= dc.name %></div>
		<% end %>
	</div>
<% end %>

<h2>Checklists for <%=@user.first_name%> <%=@user.last_name%></h2>
	<table class="table table-striped">
		<th class="col-md-2">Name</th>
		<th>Description</th>
		<th class="col-md-1">Target Frequency</th>
		<th class="col-md-1"></th>
		<th class="col-md-1"></th>
		<% @checklists.each do |c| %>
			<tr>
				<td><%= c.name %></td>
				<td><%= c.description %></td>
				<td><%= c.frequency.capitalize %></td>
				<td><%= link_to "Edit", edit_checklist_path(c.id),
						:class => "btn btn-info"%></td>
				<td><%= link_to "Remove", checklist_path(c.id),
						:method => :delete,
						:class => "btn btn-danger",
						data: {:confirm => "Are you sure?"}%></td>
			</tr>
		<% end %>
	</table>
	<%= link_to "Create Checklist", "checklists/new",
		:class => "btn btn-primary"%>
