<!DOCTYPE html>
<html>
  <head>
    <title>MUTEX: Checklist Management System</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
	<%= render :file=>"/layouts/header.html.erb" %> 
    <%= yield %>
	<%= render :file=>"/layouts/footer.html.erb" %>
  </body>
</html>
