
<nav class="navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<%= link_to "Miller Checklist", nil, :class=>"navbar-brand" %> 
		</div>
	
		<% unless @login_page %>
		
			<ul class="nav navbar-nav">
				<li><%= link_to "Dashboard", root_path %></li>
				<li><%= link_to "Analytics", nil %></li>
				<li><%= link_to "Admin", nil %></li>
			</ul>
		
			<ul class="nav navbar-right navbar-nav">
				<% if current_user %>
					<li><%= link_to "Log out", logout_path, method: "delete" %></li>
				<% else %>
					<li><%= link_to "Log in", login_path %></li>
				<% end %>
			</ul>
		<% end %>
	</div>
</nav>
<div style="margin-bottom:50px"></div>
<div class="container-fluid">